Repository euforicio/harmony-go, changes with the labels that .github/labeler.yml gives for each.
All labels: full-ci, docs, ci

.github/labeler.yml:

full-ci:
  - 'go.mod'
  - 'go.sum'
  - 'tokenizer/**'

docs:
  - '**/*.md'
  - 'docs/**'

ci:
  - '.github/**'

chore: ignore in-repo worktrees
  .gitignore
Labels: none

Fix Encode lint warning
  encoding.go
Labels: none

Address PR review feedback
  README.md
  capability_parity_test.go
  parser.go
  scripts/check_upstream_fixture_drift.py
  scripts/sync_upstream_fixtures.py
Labels: docs

Fix parser recovery edge cases
  capability_parity_test.go
  parser.go
Labels: none

Validate cached o200k vocab
  tokenizer/loader.go
  tokenizer/loader_test.go
Labels: full-ci
